[pylint]
disable=
    bare-except,
    consider-using-f-string,
    consider-using-generator,
    consider-using-set-comprehension,
    consider-using-with,
    duplicate-code,
    global-statement,
    import-error,
    inconsistent-return-statements,
    invalid-character-zero-width-space,
    invalid-name,
    line-too-long,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    multiple-statements,
    no-else-return,
    no-self-use,
    no-value-for-parameter,
    raise-missing-from,
    redefined-outer-name,
    too-many-branches,
    too-many-locals,
    too-many-statements,
    trailing-newlines,
    trailing-whitespace,
    unidiomatic-typecheck,
    unspecified-encoding,
    unused-argument,
    useless-return,
    wrong-import-order,
good-names=
    template-python
ignore=
    __init__.py,
notes=
    FIXME,
